/* @theme myTheme */

@import "gaia";

section {
  font-family: "Meiryo", "MS PGothic", sans-serif;
  font-size: 32px;
  line-height: 1.4;

  background-color: white;
  background-image: url(./.images/logo.png);
  background-position: right 5px top 5px;
  background-size: 80px ;
  background-repeat: no-repeat;
}

section::after,
footer {
  color: white;
  background-color: #003366;
  height: 50px;
  margin-bottom: 0px;
  font-size: 75%;
  padding: 0px 20px 0px 20px;
}

footer::after {
  content: "confidential";
  position: absolute;
  top: 0px;
  left: 800px;
  color: red;
  font-style: italic;
  font-size: 28px;
}


section::after {
  content: "Page " attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

h2 {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 40px;
  padding-top: 0;
  padding-bottom: 10px;
}

h2::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 8px;
  width: 1100px;
  height: 1px;
  background-color: black;
}
